<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>

Server-side:

<%= form_for [@list, Todo.new] do |f| %>
  <%= f.text_field :title, placeholder: 'New todo' %>
  <%= f.submit %>
<% end %>

<ul>
  <% @todos.each do |todo| %>
    <li>
      <%= check_box_tag nil, nil, todo.finished %>
      <%= render_todo(todo) %>
    </li>
  <% end %>
</ul>

<hr>

Client-side:

<div id='todos' data-list-id="<%= @list.id %>">
</div>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
